@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

:root {
  --border: 2px solid #1c1c1d;
  --box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #f7f9fc;
  width: 100%;
  height: 100vh;
  font-family: "Poppins", sans-serif;
}

ul {
  list-style: none;
}

.home {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.hero {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  margin: 0 auto;
}

.title-big {
  font-size: 4rem;
  margin: 20px 0;
  text-align: center;
}

.reduce-font {
  font-size: 2rem !important;
}

.title-mid {
  text-align: center;
  font-size: 3.5rem;
  margin: 10px;
  font-weight: 500;
}

.title-small {
  text-align: center;
  font-size: 1.5rem;
  margin: 10px;
  font-weight: 500;
}

@media (max-width: 768px) {
  .title-small {
    font-weight: 600;
    font-size: 1rem;
  }
}

.button {
  background-color: #ffffff;
  border: 2px solid #1c1c1d;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  color: #1a202c;
  font-family: "Poppins", sans-serif;
  font-size: 0.8rem;
  font-weight: 700;
  width: auto;
  padding: 12px 24px;
  text-decoration: none;
  border-radius: 25px;
  cursor: pointer;
  text-align: center;
  margin: 10px;
  transition: transform 0.3s;
}

.button:hover {
  transform: translateY(-2px);
}

.projects-item {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 20px auto;
  gap: 20px;
  padding: 20px;
}

.project-card {
  background-color: #ffffff;
  border: 1px solid #9c9b9b;
  border-radius: 12px;
  padding: 20px;
  width: 100%;
  max-width: 350px;
  height: 300px;
  min-height: max-content;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.project-card:hover {
  transform: translateY(-6px);
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.2);
}

.description {
  color: #494949;
  flex-grow: 1;
  text-align: center;
  margin: 15px;
}

.input-container {
  display: flex;
  align-items: center;
  margin: 10px 0;
}

.input-task {
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  border: 2px solid #1c1c1d;
  border-radius: 25px;
  padding: 12px 16px;
  width: 380px;
  max-width: 400px;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
  margin: 10px 0;
  transition: border-color 0.3s, box-shadow 0.3s;
}

.input-task::placeholder {
  color: #a0a0a0;
  opacity: 1;
}

.input-task:focus {
  border-color: #1c1c1d;
  box-shadow: 0 0 5px rgba(28, 28, 29, 0.5);
  outline: none;
}

.list-container {
  width: 500px;
}

li {
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 10px;
  margin: 8px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

li .button {
  background-color: #ff4c4c;
  color: white;
  transition: background-color 0.3s;
  margin-left: 10px;
  flex-shrink: 0;
  align-self: flex-start;
  min-width: 100px;
}

li .button:hover {
  background-color: #ff1a1a;
}

li span {
  flex: 1;
  margin-right: 10px;
  word-wrap: break-word;
}

@media (max-width: 768px) {
  .title-big {
    font-size: 2.5rem;
  }

  .title-mid {
    font-size: 2rem;
  }

  .button {
    font-size: 0.9rem;
    padding: 10px 20px;
  }

  .projects-item {
    grid-template-columns: repeat(1, 1fr);
  }

  .project-card {
    max-width: 100%;
    height: auto;
  }

  .description {
    margin: 10px;
  }

  .title-big {
    font-size: 2.5rem;
  }

  .button {
    font-size: 0.9rem;
    padding: 10px 20px;
  }

  .input-task {
    font-size: 0.9rem;
    padding: 10px 12px;
  }

  li {
    flex-direction: column;
    align-items: flex-start;
  }

  li .button {
    margin-top: 10px;
  }
  li .button:hover {
    background-color: inherit;
  }
}

@media (max-width: 480px) {
  .title-big {
    font-size: 2rem;
  }

  .title-mid {
    font-size: 1.5rem;
  }

  .button {
    font-size: 0.8rem;
    padding: 8px 16px;
  }

  .input-task {
    width: 100%;
    font-size: 0.8rem;
    padding: 10px 12px;
  }

  .projects-item {
    grid-template-columns: repeat(1, 1fr);
  }

  .project-card {
    max-width: 100%;
    height: auto;
  }

  .description {
    margin: 5px;
  }

  .list-container {
    width: 100%;
  }

  li {
    padding: 8px;
  }

  li span {
    font-size: 0.9rem;
  }

  li .button {
    min-width: 80px;
  }
}

/* Markdown Editor */

.md-hero {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 1rem;
}

hr {
  height: 4px;
  background-color: #888;
  margin: 1px 0;
}

.vr {
  border-left: 6px solid #888;
  height: 100vh;
}

.md-container {
  display: flex;
  justify-content: center;
  margin-top: 5px;
}

/* todo list */
@keyframes popErrorMsg {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.error-message {
  color: red;
  font-weight: bold;
  margin-top: 10px;
  text-align: center;
  animation: popErrorMsg 0.3s forwards;
}


/* Hide Scrollbar */
.hide-scrollbar {
  overflow-y: auto; /* Automatically show scrollbar when needed */
  scrollbar-width: none; /* For Firefox: hide scrollbar */
  -ms-overflow-style: none; /* For Internet Explorer and Edge */
}

/* Hide scrollbar for WebKit browsers (Chrome, Safari) */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
 